.amountofdebt {
  .profile_title {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 800px) {
      margin-bottom: -2rem;
    }

    .left {
      color: rgba(64, 89, 130, 1);
      font-weight: 500;
      font-size: 21px;
      display: flex;
      align-items: center;

      @media (max-width: 400px) {
        font-size: 12px;
      }

      img {
        margin-right: 1rem;
      }
    }

    .right {
      img {
        cursor: pointer;
      }
    }
  }
  .range {
    width: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    .foto {
      width: 90%;
      img {
        width: 100%;
      }
    }
    span{
        color: #405982;
        font-weight: 500;
        font-size: 19px;
        font-family: 'Roboto', sans-serif;
    }
  }
}
