

//title blue for each system
//sidebari saymasag sagterefde galan yuzde 80lik kisim icin acilan classlar
//temeli banaceStsrem.scss de yazildi
.system_main {
  display: flex;
  justify-content: flex-end;
  //   background-color: #e5e5e5;
  background-color: #F8FAFF;

  .system_container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;

    @media (max-width: 1300px) {
      width: 75%;
    }

    @media (max-width: 1200px) {
      //styles go here
      width: 70%;
    }

    @media (max-width: 998px) {
      //styles go here
      width: 90%;
    }
  }
}

///for each system (obshi)
//temeli banaceStsrem.scss de yazildi

.system_main {
  display: flex;
  justify-content: flex-end;
  background-color: #e5e5e5;
  background-color: #f8faff;

  .system_container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;

    @media (max-width: 1300px) {
      width: 75%;
    }

    @media (max-width: 1200px) {
      //styles go here
      width: 70%;
    }

    @media (max-width: 998px) {
      //styles go here
      width: 90%;
    }

    // styles for title
    .top_system {
      // border: 1px solid black;
      width: 100%;
      max-width: 25%;
      height: 80px;
      border-radius: 5px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top: -40px;
      background-color: #fff;
      color: #405982;

      @media (max-width: 1440px) {
        //styles go here
        max-width: 25%;
        height: 60px;
      }

      @media (max-width: 1200px) {
        //styles go here
        height: 40px;
      }

      @media (max-width: 998px) {
        //styles go here
        height: 60px;
        top: -20px;
        min-width: 58%;
      }

      &_icon {
        width: 37px;
        height: 37px;
        background: var(--lightBlueLinear);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-right: 12px;

        // margin-left: 62px;
        @media (max-width: 1440px) {
          width: 27px;
          height: 27px;
        }

        @media (max-width: 1200px) {
          //styles go here
          width: 26px;
          height: 26px;
        }

        // @media(max-width:1200px) {
        //     //styles go here
        //     width: 18px;
        //     height: 18px;
        // }

        img {
          width: 17px;
          height: 17px;

          @media (max-width: 1440px) {
            width: 14px;
            height: 14px;
          }

          // @media(max-width:1200px) {
          //     //styles go here
          //     width: 16px;
          //     height: 12px;
          // }

          // @media(max-width:500px) {
          //     width: 10px;
          //     height: 10px;
          // }
        }
      }

      &_title {
        font-weight: 500;
        font-size: 21px;

        @media (max-width: 1440px) {
          font-size: 15px;
        }

        @media (max-width: 1200px) {
          //styles go here
          font-size: 13px;
        }

        @media (max-width: 998px) {
          font-size: 16px;
        }
      }
    }

    // styles for types
    //burda yazilan balance_system_types n scss dir Biz umumilesdirmek adina system types seklinde
    .system_types {
      margin-top: 32px;
      margin-bottom: 42px;
      display: flex;
      justify-content: space-between;
      max-width: 85%;
      width: 100%;
      color: #405982;
      flex-wrap: wrap;

      @media (max-width: 1300px) {
        margin-top: 0px;
      }

      @media (max-width: 1440px) {
        width: 80%;
      }

      @media (max-width: 600px) {
        flex-direction: column;
      }

      .active.each_type {
        box-shadow: none;

        .each_type_title {
          background: linear-gradient(90deg,
              rgba(209, 210, 213, 0.9) -19.31%,
              rgba(218, 218, 218, 0.5) 105.37%);
          color: rgba(72, 120, 209, 1);
        }
      }

      .each_type {
        display: flex;
        align-items: center;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.04);
        cursor: pointer;
        transition: 0.5s ease-in-out;
        margin-bottom: 1rem;
        margin: 1rem auto;

        &:nth-child(2) {
          // margin-left: 88px;
          // margin-right: 66px;
          // background: rxed;
        }

        &:hover {
          transform: scale(1.1);

          .each_type_title {}
        }

        .blue {
          background: var(--lightBlueLinear);
        }

        .red {
          background: var(--redLinearDark);
        }

        .orange {
          background: var(--orangeLinear);
        }

        &_icon {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: -18px;
          z-index: 10;
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.06);
          transition: 0.5s linear;

          @media (max-width: 600px) {
            width: 35px;
            height: 35px;
          }

          img {
            width: 21px;
            height: 21px;
            display: block;

            @media (max-width: 600px) {
              width: 18px;
              height: 18px;
            }
          }
        }

        &_title {
          font-weight: 500;
          font-size: 15px;
          background: #fff;
          padding: 13px 61px 13px 42px;
          border-radius: 0px 5px 5px 0px;
          transition: 0.5s ease-in-out;

          @media (max-width: 600px) {
            font-size: 13px;
            padding: 8px 41px 8px 32px;
          }
        }
      }
    }
  }
}

// sadece tosystem
//temeli banaceStsrem.scss de yazildi

.top_system {
  // border: 1px solid black;
  width: 100%;
  max-width: 25%;
  height: 80px;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -40px;
  background-color: #fff;
  color: #405982;

  @media(max-width:1440px) {
    //styles go here
    max-width: 25%;
    height: 60px;
  }

  @media(max-width:1200px) {
    //styles go here
    // height: 40px;
    top: -20px;

  }

  @media(max-width:998px) {
    //styles go here
    height: 60px;
    top: -20px;
    max-width: 38%;
  }

  @media(max-width:640px) {
    //styles go here
    padding: 1rem 1.4rem;
    min-width: 250px;
  }



  &_icon {
    width: 37px;
    height: 37px;
    background: var(--lightBlueLinear);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 12px;

    // margin-left: 62px;
    @media(max-width:1440px) {
      width: 27px;
      height: 27px;
    }

    @media(max-width:1200px) {
      //styles go here
      width: 26px;
      height: 26px;
    }

    // @media(max-width:1200px) {
    //     //styles go here
    //     width: 18px;
    //     height: 18px;
    // }


    img {
      width: 17px;
      height: 17px;

      @media(max-width:1440px) {
        width: 14px;
        height: 14px;
      }

      // @media(max-width:1200px) {
      //     //styles go here
      //     width: 16px;
      //     height: 12px;
      // }

      // @media(max-width:500px) {
      //     width: 10px;
      //     height: 10px;
      // }
    }
  }

  &_title {
    font-weight: 500;
    font-size: 21px;

    @media(max-width:1440px) {
      font-size: 15px;
    }




    @media(max-width:1200px) {
      //styles go here
      font-size: 13px;
    }

    @media(max-width:998px) {

      font-size: 16px;
    }

  }
}

///for table

//temeli ilk yuklme gecmisinde yazildi

.table_container {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.35);
  box-sizing: border-box;
  box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.15);
  margin-top: 33px;
  margin-bottom: 114px;
  padding: 53px;
  padding-top: 0px;
  max-width: 1056px;
  width: 100%;
  // min-height: 431px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;

  p {
    padding: 22px 0px;
    width: 100%;
    color: #3878d1;
    font-size: 18px;
    font-weight: bold;
  }

  table {
    width: 100%;
    border-spacing: 0;
    border-top: 1px solid #d3d3d3;

    thead {
      width: 100%;
      background-color: #e8eff8;

      //tr
      .table_header_row {
        display: grid;
        grid-template-columns: 100px 264px 166px 239px 239px;
        justify-content: center;

        th {
          padding: 19px 0px;

          // border-bottOm: 1px solid #D3D3D3;
          // border-top: 1px solid #D3D3D3;
          div {
            display: flex;
            width: 100%;
            justify-content: space-around;
            border-right: 1px solid #bbbbbb;

            span {
              font-size: 18px;
              font-weight: 500;
              color: #677094;

              i {
                font-size: 13px;
                color: #3b69e4;
              }
            }
          }
        }

        .product_name {
          .hastag {
            // margin-right: 35px;
          }
        }

        .empty {
          width: 135px;
        }
      }
    }

    tbody {
      tr {
        display: grid;
        grid-template-columns: 100px 264px 166px 239px 239px;
        justify-content: center;
        border: 2px solid #e0e0e0;

        // &:nth-of-type(odd) {
        //     background: #e9e9e9;

        // }

        &:nth-child(2) {
          background: #fafafc;
        }

        td {
          text-align: center;
          padding: 18px 0px;
        }
      }

      &:nth-child(4) {
        background: #fafafc;
      }
    }
  }
}



//formlar icin talep olusdur seklinde acilan classlar
//top//support//destektalebi olsudur
//couriersystem//talebolusdur
.talep_olusdur {
  max-width: 1025px;
  width: 100%;
  min-height: 571px;
  padding: 20px 26px;
  margin-bottom: 141px;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  p {
    color: rgba(72, 120, 209, 1);
    font-weight: 500;
    font-size: 18px;
    padding: 0px 0px 12px 0px;
    border-bottom: 1px solid rgba(192, 192, 192, 0.55);
  }

  .talep_olusdur_form {
    padding: 18px 11px;

    .form_flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;

      .form_flex_column {
        width: 100%;
        max-width: 445px;
        position: relative;
        display: flex;
        flex-direction: column;

        span {
          font-size: 13px;
          font-style: oblique;
          font-weight: 500;
          line-height: 27px;
          letter-spacing: 0;
          margin-bottom: 2px;
          color: rgba(64, 89, 130, 1);

          .red_span {
            font-size: 13px;
            font-style: normal;
            font-weight: 600;
            line-height: 27px;
            letter-spacing: 0;
            margin-bottom: 7px;
            color: rgba(214, 0, 0, 1);
          }
        }

        input {
          font-size: 16px;
          border: 1px solid #a2a6b0;
          border-radius: 5px;
          width: 90%;
          padding: 10px 7px;
          border: 1px solid rgba(0, 0, 0, 0.3);
          box-sizing: border-box;

          &::placeholder {
            color: rgba(217, 217, 217, 1);
          }
        }
      }
    }
  }
}

