.destek_talebi {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.35);
    box-sizing: border-box;
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.15);
    margin-top: 33px;
    margin-bottom: 114px;
    padding: 53px;
    padding-top: 0px;
    // max-width: 1256px;
    max-width: 80%;
    width: 100%;
    // min-height: 431px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;

    @media(max-width:2400px) {
        display: block;
        overflow-x: auto;
        padding: 10px 23px 23px 23px;

        &::-webkit-scrollbar {
            height: 8px;
        }

        &::-webkit-scrollbar-track {
            background: rgb(221, 221, 221);
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgb(197, 197, 197);
            border-radius: 1rem;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: #3b69e4;
            transition: .5s ease;
            cursor: pointer;
        }
    }

    p {
        padding: 22px 0px;
        width: 100%;
        color: #3878D1;
        font-size: 18px;
        font-weight: bold;
    }

    table {
        width: 100%;
        border-spacing: 0;
        border-top: 1px solid #D3D3D3;



        thead {
            width: 100%;
            background-color: #E8EFF8;

            //tr
            .table_header_row {
                display: grid;
                grid-template-columns: (90px) repeat(7, (200px));
                justify-content: center;

                th {
                    padding: 19px 0px;

                    div {
                        display: flex;
                        width: 100%;
                        justify-content: space-around;

                        &:not(:last-child) {
                            div {
                                border-right: 1px solid #BBBBBB;
                            }
                        }

                        span {
                            font-size: 18px;
                            font-weight: 500;
                            color: #677094;

                            i {
                                font-size: 13px;
                                color: #3b69e4;
                                cursor: pointer;
                            }
                        }
                    }
                }

                .product_name {
                    .hastag {
                        // margin-right: 35px;
                    }
                }

                .empty {
                    width: 135px;
                }
            }



        }

        tbody {
            tr {
                display: grid;
                grid-template-columns: (90px) repeat(7, (200px));

                justify-content: center;
                border: 2px solid #E0E0E0;

                &:nth-child(2) {
                    background: #FAFAFC;
                }

                td {
                    text-align: center;
                    padding: 18px 0px;

                }

            }

            &:nth-child(4) {
                background: #FAFAFC;
            }
        }
    }
}