.kurye_talep {


    @media (max-width:850px) {
        padding: 6px 0px !important;

    }

    p {
        @media (max-width:850px) {
            text-align: center;
        }
    }

    .talep_olusdur_form {


        .form_flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;

            @media (max-width:850px) {}

            .form_flex_column {
                width: 100%;
                max-width: 50%;
                position: relative;
                display: flex;
                flex-direction: column;

                @media (max-width:850px) {
                    align-items: center
                }

                span {
                    font-size: 13px;
                    font-style: oblique;
                    font-weight: 500;
                    line-height: 27px;
                    letter-spacing: 0;
                    margin-bottom: 2px;
                    color: rgba(64, 89, 130, 1);
                    // background-color: red;

                    .red_span {
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 27px;
                        letter-spacing: 0;
                        margin-bottom: 7px;
                        color: rgba(214, 0, 0, 1);
                    }
                }

                .form_inp {
                    font-size: 16px;
                    border: 1px solid #a2a6b0;
                    border-radius: 5px;
                    width: 90%;
                    height: 32px;
                    padding: 10px 7px;
                    border: 1px solid rgba(0, 0, 0, 0.3);
                    box-sizing: border-box;
                    outline: none;

                    &::placeholder {
                        color: rgba(217, 217, 217, 1);
                    }



                    &::-webkit-inner-spin-button,
                    &::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }

                .div_inp {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    color: #D9D9D9;
                }
            }
        }
    }

    .confirm_box {
        @media (max-width:850px) {
            padding-right: 0rem !important;
            justify-content: center !important;
        }

        .taleb_olusdur_btn {
            margin-bottom: 1rem;

            @media (max-width:850px) {
                font-size: 11px;
            }


        }
    }
}

.talep_olusdur {
    max-width: 80%;
    width: 100%;
    padding: 20px 26px;
    margin-bottom: 141px;
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;



    p {
        color: rgba(72, 120, 209, 1);
        font-weight: 500;
        font-size: 18px;
        padding: 0px 0px 12px 0px;
        border-bottom: 1px solid rgba(192, 192, 192, 0.55);
        ;
    }

    .form_kurye {
        border-bottom: none !important;
    }

    .talep_olusdur_form {

        // padding: 18px 11px;


        .form_flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;

            @media (max-width:850px) {
                display: flex !important;
                flex-direction: column !important;
            }

            .form_flex_column {
                width: 100%;
                max-width: 50%;
                position: relative;
                display: flex;
                flex-direction: column;

                // border: 1px solid red;
                @media (max-width:850px) {
                    max-width: 85%;

                }

                span {
                    font-size: 13px;
                    font-style: oblique;
                    font-weight: 500;
                    line-height: 27px;
                    letter-spacing: 0;
                    margin-bottom: 2px;
                    color: rgba(64, 89, 130, 1);
                    // background-color: red;

                    .red_span {
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 27px;
                        letter-spacing: 0;
                        margin-bottom: 7px;
                        color: rgba(214, 0, 0, 1);
                    }
                }

                .form_inp {
                    font-size: 16px;
                    border: 1px solid #a2a6b0;
                    border-radius: 5px;
                    width: 90%;
                    height: 32px;
                    padding: 10px 7px;
                    border: 1px solid rgba(0, 0, 0, 0.3);
                    box-sizing: border-box;
                    outline: none;

                    &::placeholder {
                        color: rgba(217, 217, 217, 1);
                    }



                    &::-webkit-inner-spin-button,
                    &::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }

                .div_inp {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    color: #D9D9D9;
                }
            }
        }
    }

    .confirm_box {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-right: 4rem;

        .taleb_olusdur_btn {
            border: none;
            background-color: #3B69E4;
            color: #fff;
            padding: 10px 24px;
            border-radius: 7px;
            // margin-right: 3.2rem;
            cursor: pointer;

            i {
                margin-right: 10px;
            }
        }
    }
}